@model IEnumerable<FlightInfo.Models.RawDataModel>

@{
    ViewData["Title"] = "Index";
    var currenttime = DateTime.UtcNow.AddMinutes(330).ToString("dd MMM yyyy  hh:mm:ss tt");
    var todaysDate = DateTime.UtcNow.AddMinutes(330);
    var tomorrowsDate = DateTime.UtcNow.AddDays(1).AddMinutes(330);
    var yesterdaysDate = DateTime.UtcNow.AddDays(-1).AddMinutes(330);
}

<h1>Status at [@currenttime]  IST</h1>

<button class="tablink" onclick="openCity('day0', this, '#236bff')">@yesterdaysDate.ToString("dd MMM yyyy")</button>
<button class="tablink" onclick="openCity('day1', this, 'green')" id="defaultOpen">@todaysDate.ToString("dd MMM yyyy")</button>
<button class="tablink" onclick="openCity('day2', this, '#236bff')">@tomorrowsDate.ToString("dd MMM yyyy")</button>

<div id="day0" class="tabcontent">
    <h1>@yesterdaysDate.ToString("dd MMM yyyy")</h1>
    <p>@yesterdaysDate.DayOfWeek</p>

    <table class="table table-bordered" style="color:white">
        <thead>
            <tr>
                <th>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th class="d-none d-lg-block d-xl-block">
                    @Html.DisplayNameFor(model => model.Airline)
                </th>
                <th>
                    @Html.DisplayName("Flight")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.From)
                </th>
                <th class="d-none d-lg-block d-xl-block">
                    @Html.DisplayNameFor(model => model.To)
                </th>
                <th class="d-none d-sm-table-cell">
                    @Html.DisplayNameFor(model => model.STD)
                </th>
                <th class="d-none d-sm-table-cell">
                    @Html.DisplayNameFor(model => model.ATD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.STA)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(x => x.STA.Day == yesterdaysDate.Day))
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td class="d-none d-lg-block d-xl-block">
                    @Html.DisplayFor(modelItem => item.Airline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td class="d-none d-lg-block d-xl-block">
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td class="d-none d-sm-table-cell">
                    @Html.DisplayFor(modelItem => item.STD)
                </td>
                <td class="d-none d-sm-table-cell">
                    @Html.DisplayFor(modelItem => item.ATD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STA)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div id="day1" class="tabcontent">
    <h1>@todaysDate.ToString("dd MMM yyyy")</h1>
    <p>@todaysDate.DayOfWeek</p>

    <table class="table table-bordered" style="color:white">
        <thead>
            <tr>
                <th>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th class="d-none d-lg-block d-xl-block">
                    @Html.DisplayNameFor(model => model.Airline)
                </th>
                <th>
                    @Html.DisplayName("Flight")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.From)
                </th>
                <th class="d-none d-lg-block d-xl-block">
                    @Html.DisplayNameFor(model => model.To)
                </th>
                <th class="d-none d-sm-table-cell">
                    @Html.DisplayNameFor(model => model.STD)
                </th>
                <th class="d-none d-sm-table-cell">
                    @Html.DisplayNameFor(model => model.ATD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.STA)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(x=>x.STA.Day == todaysDate.Day))
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td class="d-none d-lg-block d-xl-block">
                    @Html.DisplayFor(modelItem => item.Airline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td class="d-none d-lg-block d-xl-block">
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td class="d-none d-sm-table-cell">
                    @Html.DisplayFor(modelItem => item.STD)
                </td>
                <td class="d-none d-sm-table-cell">
                    @Html.DisplayFor(modelItem => item.ATD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STA)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div id="day2" class="tabcontent">
    <h1>@tomorrowsDate.ToString("dd MMM yyyy")</h1>
    <p>@tomorrowsDate.DayOfWeek</p>
    <table class="table table-bordered" style="color:white">
        <thead>
            <tr>
                <th>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th class="d-none d-lg-block d-xl-block">
                    @Html.DisplayNameFor(model => model.Airline)
                </th>
                <th>
                    @Html.DisplayName("Flight")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.From)
                </th>
                <th class="d-none d-lg-block d-xl-block">
                    @Html.DisplayNameFor(model => model.To)
                </th>
                <th class="d-none d-sm-table-cell">
                    @Html.DisplayNameFor(model => model.STD)
                </th>
                <th class="d-none d-sm-table-cell">
                    @Html.DisplayNameFor(model => model.ATD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.STA)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(x => x.STA.Day == tomorrowsDate.Day))
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td class="d-none d-lg-block d-xl-block">
                    @Html.DisplayFor(modelItem => item.Airline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td class="d-none d-lg-block d-xl-block">
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td class="d-none d-sm-table-cell">
                    @Html.DisplayFor(modelItem => item.STD)
                </td>
                <td class="d-none d-sm-table-cell">
                    @Html.DisplayFor(modelItem => item.ATD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STA)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>